// Modal
#registerModal.modal.fade(tabindex='-1' aria-labelledby='registerModalLabel' aria-hidden='true')
  form(action="/auth/register", method="post") 
    .modal-dialog
      .modal-content
        .modal-header
          h5#registerModalLabel.modal-title Register for an account
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.row
          .mb-3 
            label.form-label(for="email") Email Address 
            input#email.form-control(type="email", name="email") 
          .mb-3 
            label.form-label(for="56b53") Username 
            input#56b53.form-control(type="text", name="username") 
          .mb-3 
            label.form-label(for="56b55") Password 
            input#56b55.form-control(type="password", name="password") 
          .mb-3 
            label.form-label(for="56b57") Confirm Password 
            input#56b57.form-control(type="password", name="password2") 
        .modal-footer
          input(type="hidden", name="_csrf" value=`${csrfToken}`)
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Register