extends layout

block content
  .fourohone-wrapper
    img(src="/images/401.gif", alt="Unauthorized")
    h1.text-center.display-4.text-muted Well... this is embarassing...
    p.text-center.text-muted.lead You do not have access to do this...
    a.btn.btn-outline-secondary(href="/") Go home

