extends layout

block content
  .fourohfour-hero
    h1.text-center.display-4.text-white Well... at least you didnt crash the server...
    p.text-center.text-white.lead Luckily for you... it's just an invalid page.
    a.btn.btn-outline-light(href="/") Go home 
