extends layout

block content
  .fivehundred-hero
    h1.text-center.display-4.text-white Well... You blew up the server...
    p.text-center.text-white.lead Luckily for you... I will have this thing up and running... After I finish by beer.
    a.btn.btn-outline-light(href="/") Try to go back... 
