extends layout

block content
  include partials/nav
  include partials/registerModal
  include partials/loginModal
  .hero
    h1.text-center.text-white.display-1 Kickbox Tutorial
  if (currentUser && isAuthenticated)
    .auth-text(data-aos="flip-up" data-aos-duration="2000")
      h1.text-center.text-secondary.display-3 Check it out... You're logged in
  script.
    $(document).ready(function () {
      AOS.init()
    });
    