extends ../layout

block content
  .container
    .row
      .flex-wrapper
        .col-lg-4.col-md-6.col-12.position-relative
          .profile-image
            img(src="https://robohash.org/kickbox", alt="")
          #list-tab.list-group(role='tablist')
            a#list-profile-list.list-group-item.list-group-item-action.active(data-bs-toggle='list' href='#list-profile' role='tab' aria-controls='list-profile') Profile 
            a#list-2-list.list-group-item.list-group-item-action(data-bs-toggle='list' href='#list-2' role='tab' aria-controls='list-2') Box 2
            a#list-3-list.list-group-item.list-group-item-action(data-bs-toggle='list' href='#list-3' role='tab' aria-controls='list-3') Box 3
            a#list-4-list.list-group-item.list-group-item-action(data-bs-toggle='list' href='#list-4' role='tab' aria-controls='list-4') Box 4
        .col-lg-8.col-md-6.col-12
          #nav-tabContent.tab-content
            #list-profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='list-profile-list')
              .row
                .d-flex.justify-content-center.align-items-center
                  h3.display-6.text-center.mb-3.d-inline User Profile 
                  button.btn.btn-outline-secondary.d-inline.btn-sm.mb-3.ms-2 Edit
                p.lead Username: #{user.username}
                hr.style-two
                p.lead Email: #{user.email}
                hr.style-two
            #list-2.tab-pane.fade(role='tabpanel' aria-labelledby='list-2-list')
              h3.display-6.text-center.mb-3 Box 2
            #list-3.tab-pane.fade(role='tabpanel' aria-labelledby='list-3-list')
              h3.display-6.text-center.mb-3 Box 3
            #list-4.tab-pane.fade(role='tabpanel' aria-labelledby='list-4-list')
              h3.display-6.text-center.mb-3 Box 4
  script.
    $(document).ready(function () {
      let $nav = $(".fixed-top");
      $nav.addClass('scrolled');
    });

